@font-face {
    font-family: 'oswaldbook';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-light-webfont.eot');
    src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-light-webfont.woff') format('woff'),
         url('fonts/oswald-light-webfont.ttf') format('truetype'),
         url('fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
	background: url('../notebook.png') repeat;
}


.ed-pg-title {
	margin: 0 auto;
	padding: 0;
	font-family: 'oswaldbook';
	font-size: 5em;
}

.ed-pg-row {
	margin-bottom: 3px;
}

.ed-pg-container {
	margin-top: 3%;
}

.ed-pg-thumbnail {
	height: ;
	width: 170px;
	margin-bottom: 0px;
}

.ed-pg-profile {
	
	padding-top: 1px;
	border-radius: 3px;
}

.ed-pg-profile-row {
	border: 1px solid #e7e7e7;
	padding-top: 5px;
	background-color: #f8f8f8;
	border-radius: 3px;
	margin-bottom: 10px;
}

.ed-pg-active {
	background-color:  #8ABE9B;
	border-radius: 6px;
}

.list-group-item {
	font-family: 'open_sanslight';
}